<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Page</title>
    <style>
        h1{
            color: red;
        }
        
    </style>
</head>
<body>
    <h1>Header Page (ejs)</h1>
</body>
</html>